<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.product.mapper.ProductSkuMapper">
    <sql id="columns">
        id,sku_code,sku_name,product_id,thumb_img,sale_price,market_price,cost_price,stock_num,sale_num,sku_spec,weight,volume,status,create_time,update_time,is_deleted
    </sql>

    <select id="findProductSkuById" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        select <include refid="columns"/>
        from product_sku
        where id = #{skuId} and is_deleted = 0
    </select>
    <select id="findSkuByParentId" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        select <include refid="columns"/>
        from product_sku
        where product_id = #{productId}
    </select>
</mapper>