<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.product.mapper.ProductMapper">
    <sql id="columns">
        id,sku_code,sku_name,product_id,thumb_img,sale_price,market_price,cost_price,stock_num,sale_num,sku_spec,weight,volume,status,create_time,update_time,is_deleted
    </sql>

    <!-- 查询所有热销商品-->
    <select id="findSalePorduct" resultType="com.atguigu.spzx.model.entity.product.ProductSku">
        SELECT sku.id,sku.sku_code,sku.sku_name,sku.product_id,sku.thumb_img,sku.sale_price,sku.market_price,sku.cost_price,sku.stock_num,sku.sale_num,sku.sku_spec,sku.weight,sku.volume,sku.status,sku.create_time,sku.update_time,sku.is_deleted
        FROM product_sku sku JOIN product p ON sku.product_id = p.id
        WHERE sku.is_deleted = 0 AND p.is_deleted = 0 AND p.status = 1
        ORDER BY sku.sale_num DESC
        LIMIT 2
    </select>
</mapper>