<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.spzx.mapper.CategoryMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="category_col">
        id,name,image_url,parent_id,status,order_num,create_time,update_time,is_deleted
    </sql>
    <!-- 添加分类-->
    <insert id="save">
        insert into category(
        id,
        name,
        image_url,
        parent_id,
        status,
        order_num,
        create_time ,
        update_time ,
        is_deleted
        )values
        <foreach collection="categoryList" item="category" separator=",">
            (#{category.id},#{category.name},#{category.imageUrl},#{category.parentId},#{category.status},#{category.orderNum},now(),now(),0)
        </foreach>
    </insert>
    <!--通过parentId获取值-->
    <select id="findCategoryById" resultType="com.atguigu.spzx.model.entity.product.Category">
        select
        <include refid="category_col"/>
        from category
        where parent_id = #{parentId} and is_deleted = 0
        order by id desc
    </select>
    <!-- 看子节点的个数有几个-->
    <select id="countCategory" resultType="java.lang.Integer">
        select count(1)
        from category
        where parent_id = #{id}
          and is_deleted = 0
    </select>
    <select id="findAll" resultType="com.atguigu.spzx.model.entity.product.Category">
        select
        <include refid="category_col"/>
        from category where is_deleted = 0
    </select>
</mapper>